{% extends 'base.html' %} {% block content %}

<div class="btn-yahoo-news">
  <button type="submit" class="btn btn-primary" id="yahoo_button">
    Yahooニュース
  </button>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(() => {
      $("button").click(() => {
        // Ajax通信を開始する
        $.ajax({
          type: "GET",

          url: "yahoo/",
          success: (data) => {
            console.log("成功");
            $("#yahoo_button").load("news_list.html");
          },
          error: () => {
            console.log("失敗");
          },
        });
      });
    });
  </script>
</div>

<!-- {% if ボタン押された時 %}
<div class="container">
  <ul class="list-group list-group-flush">
    <table border="2">
      <tr>
        <th>タイトル</th>
        <th></th>
      </tr>
      {% for title, url in list %}
      <tr>
        <td><a href="{{ url }}">{{ title }}</a></td>
        <td><button type="submit">保存</button></td>
      </tr>
      {% endfor %}
    </table>
  </ul>
</div>
{% endif %}  -->
{% endblock content %}
