{% extends 'base.html' %}
<!-- {% load static %}  -->
{% block content %}

<div class="btn-yahoo-news">
  <!-- <button class="btn btn-primary" id="yahoo_button">Yahooニュース</button>
  <br /><br /> -->

  <div class="container" id="post">
    <ul class="list-group list-group-flush">
      <table border="2">
        <tbody id="usage-table-body"></tbody>
      </table>
    </ul>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(() => {
      $("#yahoo_button").one("click", () => {
        // Ajax通信を開始する
        $.ajax({
          type: "GET", // HTTPリクエストメソッドの指定
          dataType: "json", // 受信するデータタイプの指定
          //data: yahoo_button.serialize(), // クエリパラメータの指定。サーバーに送信したいデータを指定
          url: "yahoo/",
          success: (data) => {
            $("#usage-table-body").append(
              "<tr><th>タイトル</th><th></th></tr>"
            );
            $.each(data.list, (i, item) => {
              $("#usage-table-body").append(
                '<tr><td><a href="' +
                  item[1] +
                  '">' +
                  item[0] +
                  '</a></td><td><button type="submit">保存' +
                  "</button></td></tr>"
              );
            });
          },
          error: () => {
            console.log("失敗", data);
          },
        });
      });
    });
  </script>
</div>
{% endblock content %}
